@font-face {
  font-family: 'font';
  src: url("../fuentes/swatch-webfont.eot");
  src: url("../fuentes/swatch-webfont.eot?#iefix") format('embedded-opentype'), url("../fuentes/swatch-webfont.woff2") format('woff2'), url("../fuentes/swatch-webfont.woff") format('woff'), url("../fuentes/swatch-webfont.ttf") format('truetype'), url("../fuentes/swatch-webfont.svg#swatch_itregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontInfo';
  src: url("../fuentes/8936-webfont.eot");
  src: url("../fuentes/8936-webfont.eot?#iefix") format('embedded-opentype'), url("../fuentes/8936-webfont.woff2") format('woff2'), url("../fuentes/8936-webfont.woff") format('woff'), url("../fuentes/8936-webfont.ttf") format('truetype'), url("../fuentes/8936-webfont.svg#square721_ex_btroman") format('svg');
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
}
body {
  background: url("../Resources/fondo.jpg") no-repeat center center fixed;
  background-size: 100.5% 100.5%;
}
body header .titulo p {
  font-family: font, regular;
  color: #fff;
  display: inline-block;
}
body header .titulo .menu {
  display: none;
  color: #fff;
}
body header nav {
  background: rgba(0,0,0,0.4);
}
body header nav div p {
  font-family: font, regular;
}
body header nav div h3 {
  font-family: 'Amaranth', sans-serif;
}
body header nav .cabecera {
  margin: 0 auto;
}
body header nav .cabecera .logo {
  float: left;
}
body header nav .cabecera .fabrica {
  color: #fff;
  margin: 0px;
}
body header nav .cabecera .de,
body header nav .cabecera .medios,
body header nav .cabecera .soluciones {
  margin: auto;
  color: #fff;
}
body header nav .trabajo {
  background: #fff;
}
body header nav .trabajo h3,
body header nav .trabajo p {
  color: #1f4079;
}
body header nav .servicios,
body header nav .clientes,
body header nav .impresos {
  background: linear-gradient(to right top, #02649d 22%, #1f4079 57%);
}
body header nav .servicios h3,
body header nav .clientes h3,
body header nav .impresos h3,
body header nav .servicios p,
body header nav .clientes p,
body header nav .impresos p {
  color: #fff;
}
body header nav .contactenos {
  margin: 0 5%;
}
body header nav .contactenos p {
  color: #fff;
  font-family: font;
  display: inline-block;
}
body section {
  position: relative;
}
body section .msd,
body section .quideca,
body section .biopass,
body section .lafrancol,
body section .cliente,
body section .aldeas {
  background: rgba(242,242,242,0.25);
  border-radius: 10px;
}
body footer {
  bottom: 0px;
  width: 100%;
}
body footer .info p {
  color: #808080;
  font-family: fontInfo;
  width: 100%;
  text-align: center;
}
/*estilo vertical 640px<*/
@media only screen and (max-width: 40em) {
  body header {
    position: relative;
    width: 100%;
  }
  body header .titulo {
    margin: 5% auto;
    height: 6vh;
    width: 80%;
    text-align: center;
  }
  body header .titulo img {
    height: 100%;
  }
  body header .titulo p {
    font-size: 5.5vw;
    position: relative;
    vertical-align: 40%;
  }
  body header .titulo .menu {
    position: absolute;
    float: right;
    right: 0%;
    display: inline;
    font-size: 6vh;
    vertical-align: 50%;
  }
  body header nav {
    z-index: 1;
    background-color: #000;
    max-width: 50vw;
    top: 0;
    height: 100vh;
    position: fixed;
    left: -50vw;
  }
  body header nav .cabecera {
    margin-top: 3.5vh;
    margin-bottom: 5vh;
    width: 50vw;
    height: 12.5vh;
  }
  body header nav .cabecera img {
    height: 100%;
  }
  body header nav .cabecera .fabrica {
    font-size: 7.6vw;
  }
  body header nav .cabecera .de,
  body header nav .cabecera .medios {
    margin: 0;
    display: inline;
  }
  body header nav .cabecera .de {
    font-size: 2vh;
  }
  body header nav .cabecera .medios {
    font-size: 3vh;
  }
  body header nav .cabecera .soluciones {
    font-size: 1.3vh;
  }
  body header nav .servicios,
  body header nav .trabajo,
  body header nav .clientes,
  body header nav .impresos {
    height: 15vh;
    margin-bottom: 1vh;
  }
  body header nav .servicios p,
  body header nav .trabajo p,
  body header nav .clientes p,
  body header nav .impresos p,
  body header nav .servicios img,
  body header nav .trabajo img,
  body header nav .clientes img,
  body header nav .impresos img {
    position: absolute;
    margin-top: 4.5vh;
  }
  body header nav .servicios h3,
  body header nav .trabajo h3,
  body header nav .clientes h3,
  body header nav .impresos h3 {
    display: none;
  }
  body header nav .servicios p,
  body header nav .trabajo p,
  body header nav .clientes p,
  body header nav .impresos p {
    width: 25vw;
    font-size: 3vh;
    margin-left: 1vh;
  }
  body header nav .servicios img,
  body header nav .trabajo img,
  body header nav .clientes img,
  body header nav .impresos img {
    height: 6vh;
    right: 0vh;
    margin-right: 1vh;
  }
  body header nav .contactenos {
    height: 4vh;
    position: absolute;
    bottom: 3vh;
    margin-left: 7.5vw;
    margin-right: auto;
  }
  body header nav .contactenos img {
    height: 4vh;
  }
  body header nav .contactenos p {
    position: relative;
    vertical-align: 80%;
    font-size: 1.5vh;
  }
  body section {
    margin-top: 10%;
  }
  body section div {
    margin: 1% 5%;
    height: 10vh;
    text-align: center;
  }
  body section div img {
    height: 80%;
    position: relative;
    margin-top: 2%;
  }
  body footer {
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 0;
    position: absolute;
  }
  body footer .info p {
    font-size: 1.5vh;
  }
}
/*estilo horizontal 640<px*/
@media only screen and (max-width: 40em) and (orientation: landscape) {
  body header {
    height: 12vh;
  }
  body header .titulo {
    height: 100%;
    margin-top: 5vh;
    text-align: center;
  }
  body header .titulo img {
    height: 100%;
  }
  body header .titulo p {
    position: relative;
    vertical-align: 70%;
    font-size: 5vh;
  }
  body header .titulo .menu {
    position: absolute;
    float: right;
    right: 0%;
    display: inline;
    font-size: 6vw;
    top: 23%;
  }
  body header nav {
    max-width: 30vw;
    height: 100vh;
    left: -30vw;
  }
  body header nav .cabecera {
    height: 15vh;
    width: 25vw;
    margin-left: 1vw;
  }
  body header nav .cabecera p {
    line-height: 100%;
  }
  body header nav .cabecera .fabrica {
    font-size: 4.25vw;
  }
  body header nav .cabecera .de {
    font-size: 1.9vw;
  }
  body header nav .cabecera .medios {
    font-size: 2.9vw;
  }
  body header nav .cabecera .soluciones {
    font-size: 1.2vw;
  }
  body header nav .servicios,
  body header nav .trabajo,
  body header nav .clientes,
  body header nav .impresos {
    width: 25vw;
    margin-left: 1vw;
  }
  body header nav .servicios p,
  body header nav .trabajo p,
  body header nav .clientes p,
  body header nav .impresos p {
    font-size: 4vh;
    width: 50%;
    margin-top: 3.5vh;
  }
  body header nav .contactenos {
    height: 6vh;
  }
  body header nav .contactenos img {
    height: 100%;
  }
  body header nav .contactenos p {
    font-size: 1.5vw;
    vertical-align: 70%;
  }
  body section {
    margin-top: 5%;
    padding: 0% 5%;
    text-align: center;
  }
  body section div {
    margin: 2% 2%;
    height: 10vw;
    text-align: center;
  }
  body section div img {
    height: 80%;
    margin: 1% auto;
  }
  body footer {
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
    height: 5vw;
    position: relative;
  }
  body footer .info {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  body footer .info p {
    font-size: 1.5vw;
  }
}
/*estilo vertical 640px> and <1024px*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  body header .titulo {
    float: right;
    width: 80%;
    margin-top: 3%;
    height: 6.5vw;
    text-align: center;
  }
  body header .titulo img {
    height: 100%;
  }
  body header .titulo p {
    font-size: 3vw;
    position: relative;
    vertical-align: 40%;
  }
  body header nav {
    position: fixed;
    height: 100%;
    width: 20%;
    overflow-y: auto;
  }
  body header nav .cabecera {
    position: relative;
    margin-top: 25%;
    margin-bottom: 20%;
  }
  body header nav .cabecera img {
    float: left;
    width: 8vw;
  }
  body header nav .cabecera .fabrica {
    font-size: 3.2vw;
  }
  body header nav .cabecera .de,
  body header nav .cabecera .medios {
    margin: 0;
    display: inline;
  }
  body header nav .cabecera .de {
    font-size: 1.6vw;
  }
  body header nav .cabecera .medios {
    font-size: 2.1vw;
  }
  body header nav .cabecera .soluciones {
    font-size: 0.925vw;
  }
  body header nav .servicios,
  body header nav .trabajo,
  body header nav .clientes,
  body header nav .impresos {
    margin-left: 15%;
    margin-right: 15%;
    height: 10%;
    border-radius: 15px;
    box-shadow: -10px 10px #808080;
    margin-top: 55%;
    position: relative;
  }
  body header nav .servicios img,
  body header nav .trabajo img,
  body header nav .clientes img,
  body header nav .impresos img,
  body header nav .servicios h3,
  body header nav .trabajo h3,
  body header nav .clientes h3,
  body header nav .impresos h3,
  body header nav .servicios p,
  body header nav .trabajo p,
  body header nav .clientes p,
  body header nav .impresos p {
    position: absolute;
  }
  body header nav .servicios img,
  body header nav .trabajo img,
  body header nav .clientes img,
  body header nav .impresos img {
    width: 4.5vw;
  }
  body header nav .servicios h3,
  body header nav .trabajo h3,
  body header nav .clientes h3,
  body header nav .impresos h3 {
    font-size: 5vw;
  }
  body header nav .servicios p,
  body header nav .trabajo p,
  body header nav .clientes p,
  body header nav .impresos p {
    font-size: 1.5vw;
  }
  body header nav .flechaAzul:before,
  body header nav .flechaAzul:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  body header nav .flechaAzul:after {
    border-color: linear-gradient(to right top, #02649d 22%, #1f4079 57%);
    border-left-color: #1f4079;
    border-width: 1vh;
    margin-top: -1vh;
  }
  body header nav .flechaBlanca:before,
  body header nav .flechaBlanca:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  body header nav .flechaBlanca:after {
    border-color: linear-gradient(to right top, #02649d 22%, #1f4079 57%);
    border-left-color: #fff;
    border-width: 1vh;
    margin-top: -1vh;
  }
  body header nav .servicios img {
    float: right;
    right: 5%;
    bottom: 5%;
  }
  body header nav .servicios p,
  body header nav .servicios h3 {
    float: left;
    left: 5px;
  }
  body header nav .servicios p {
    top: 50%;
    width: 50%;
  }
  body header nav .servicios h3 {
    margin-top: 0%;
  }
  body header nav .trabajo img {
    float: left;
    left: 5%;
    bottom: 5%;
  }
  body header nav .trabajo p,
  body header nav .trabajo h3 {
    float: right;
    right: 5%;
  }
  body header nav .trabajo p {
    top: 50%;
    width: 50%;
    text-align: right;
  }
  body header nav .trabajo h3 {
    top: 0%;
  }
  body header nav .clientes img {
    float: right;
    top: 5%;
    right: 5%;
  }
  body header nav .clientes p,
  body header nav .clientes h3 {
    float: left;
    left: 5%;
  }
  body header nav .clientes p {
    width: 50%;
    bottom: 5%;
    text-align: left;
  }
  body header nav .clientes h3 {
    bottom: 30%;
  }
  body header nav .impresos img {
    float: left;
    left: 5%;
    top: 5%;
  }
  body header nav .impresos h3,
  body header nav .impresos p {
    float: right;
    right: 5%;
  }
  body header nav .impresos p {
    width: 50%;
    text-align: right;
    bottom: 5%;
  }
  body header nav .impresos h3 {
    bottom: 15%;
  }
  body header nav .contactenos {
    width: 90%;
    height: 2vh;
    bottom: 3%;
    position: absolute;
    text-align: center;
  }
  body header nav .contactenos img {
    height: 2vh;
  }
  body header nav .contactenos p {
    position: relative;
    vertical-align: 40%;
    font-size: 1.1vh;
  }
  body section {
    width: 80%;
    float: right;
    margin-top: 5%;
  }
  body section div {
    margin: 2% 5%;
    padding-bottom: 2%;
    height: 10vw;
    text-align: center;
  }
  body section div img {
    height: 100%;
    margin: 1% auto;
  }
  body section .quideca img {
    width: 80%;
  }
  body footer {
    width: 80%;
    float: right;
    right: 0px;
    bottom: 0;
    position: absolute;
    margin-bottom: 2%;
    text-align: center;
  }
  body footer .info p {
    font-size: 1.1vh;
  }
}
/*estilo horizontal >640px and <1024px*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: landscape) {
  body header .titulo {
    height: 6vh;
    margin-top: 2%;
  }
  body header .titulo img {
    height: 100%;
  }
  body header .titulo p {
    font-size: 3.5vh;
    margin-left: 1%;
  }
  body header nav .cabecera {
    margin-top: 10%;
  }
  body header nav .servicios,
  body header nav .trabajo,
  body header nav .clientes,
  body header nav .impresos {
    height: 13.75%;
    margin-top: 15%;
  }
  body header nav .servicios img,
  body header nav .trabajo img,
  body header nav .clientes img,
  body header nav .impresos img {
    width: 7vh;
  }
  body header nav .servicios h3,
  body header nav .trabajo h3,
  body header nav .clientes h3,
  body header nav .impresos h3 {
    font-size: 6.5vh;
  }
  body header nav .servicios p,
  body header nav .trabajo p,
  body header nav .clientes p,
  body header nav .impresos p {
    font-size: 2vh;
  }
  body header nav .contactenos {
    bottom: 2%;
    height: 2vh;
  }
  body header nav .contactenos img {
    height: 2vh;
  }
  body header nav .contactenos p {
    font-size: 1.3vh;
    position: relative;
    vertical-align: 35%;
  }
  body section {
    margin-top: 2%;
  }
  body section div {
    margin: 1% 1%;
    width: 22%;
    height: 4vw;
    text-align: center;
    display: inline-block;
  }
  body section div img {
    height: 100%;
    margin: 4% auto;
  }
  body footer .info p {
    font-size: 1vh;
  }
}
/*estilo vertical 1024px> and <1440px*/
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  body header .titulo {
    float: right;
    width: 85%;
    margin-top: 2%;
    height: 7vh;
    text-align: center;
  }
  body header .titulo img {
    height: 100%;
  }
  body header .titulo p {
    font-size: 4vh;
    position: relative;
    vertical-align: 40%;
    margin-left: 0.5%;
  }
  body header nav {
    position: fixed;
    height: 100%;
    width: 15%;
    overflow-y: auto;
  }
  body header nav .cabecera {
    position: relative;
    margin-top: 15%;
    margin-bottom: 10%;
  }
  body header nav .cabecera img {
    float: left;
    width: 8vh;
  }
  body header nav .cabecera .fabrica {
    font-size: 3.2vh;
  }
  body header nav .cabecera .de,
  body header nav .cabecera .medios {
    margin: 0;
    display: inline;
  }
  body header nav .cabecera .de {
    font-size: 1.6vh;
  }
  body header nav .cabecera .medios {
    font-size: 2.1vh;
  }
  body header nav .cabecera .soluciones {
    font-size: 0.925vh;
  }
  body header nav .servicios,
  body header nav .trabajo,
  body header nav .clientes,
  body header nav .impresos {
    margin-left: 10%;
    margin-right: 25%;
    height: 15%;
    border-radius: 15px;
    box-shadow: -10px 10px #808080;
    margin-top: 20%;
    position: relative;
  }
  body header nav .servicios img,
  body header nav .trabajo img,
  body header nav .clientes img,
  body header nav .impresos img,
  body header nav .servicios h3,
  body header nav .trabajo h3,
  body header nav .clientes h3,
  body header nav .impresos h3,
  body header nav .servicios p,
  body header nav .trabajo p,
  body header nav .clientes p,
  body header nav .impresos p {
    position: absolute;
  }
  body header nav .servicios img,
  body header nav .trabajo img,
  body header nav .clientes img,
  body header nav .impresos img {
    width: 4.5vh;
  }
  body header nav .servicios h3,
  body header nav .trabajo h3,
  body header nav .clientes h3,
  body header nav .impresos h3 {
    font-size: 5vh;
  }
  body header nav .servicios p,
  body header nav .trabajo p,
  body header nav .clientes p,
  body header nav .impresos p {
    font-size: 1.5vh;
  }
  body header nav .flechaAzul:before,
  body header nav .flechaAzul:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  body header nav .flechaAzul:after {
    border-color: linear-gradient(to right top, #02649d 22%, #1f4079 57%);
    border-left-color: #1f4079;
    border-width: 1.9vw;
    margin-top: -2.5vh;
  }
  body header nav .flechaBlanca:before,
  body header nav .flechaBlanca:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  body header nav .flechaBlanca:after {
    border-color: linear-gradient(to right top, #02649d 22%, #1f4079 57%);
    border-left-color: #fff;
    border-width: 1.9vw;
    margin-top: -2.5vh;
  }
  body header nav .servicios img {
    float: right;
    right: 5%;
    bottom: 5%;
  }
  body header nav .servicios p,
  body header nav .servicios h3 {
    float: left;
    left: 5px;
  }
  body header nav .servicios p {
    top: 40%;
    width: 50%;
  }
  body header nav .servicios h3 {
    top: 5%;
  }
  body header nav .trabajo img {
    float: left;
    left: 5%;
    bottom: 5%;
  }
  body header nav .trabajo p,
  body header nav .trabajo h3 {
    float: right;
    right: 5%;
  }
  body header nav .trabajo p {
    top: 40%;
    width: 50%;
    text-align: right;
  }
  body header nav .trabajo h3 {
    top: 5%;
  }
  body header nav .clientes img {
    float: right;
    top: 5%;
    right: 5%;
  }
  body header nav .clientes p,
  body header nav .clientes h3 {
    float: left;
    left: 5%;
  }
  body header nav .clientes p {
    width: 50%;
    bottom: 5%;
    text-align: left;
  }
  body header nav .clientes h3 {
    bottom: 30%;
  }
  body header nav .impresos img {
    float: left;
    left: 5%;
    top: 5%;
  }
  body header nav .impresos h3,
  body header nav .impresos p {
    float: right;
    right: 5%;
  }
  body header nav .impresos p {
    text-align: right;
    bottom: 5%;
  }
  body header nav .impresos h3 {
    bottom: 15%;
  }
  body header nav .contactenos {
    width: 90%;
    height: 1.5vh;
    bottom: 2%;
    position: absolute;
    text-align: center;
  }
  body header nav .contactenos img {
    height: 1.5vh;
  }
  body header nav .contactenos p {
    position: relative;
    vertical-align: 40%;
    font-size: 1.3vh;
  }
  body section {
    width: 85%;
    position: relative;
    float: right;
    margin-top: 5%;
  }
  body section div {
    margin: 1% 1%;
    width: 22%;
    height: 6vw;
    text-align: center;
    display: inline-block;
  }
  body section div img {
    height: 80%;
    margin: 3% auto;
  }
  body section .quideca img {
    width: 80%;
    height: 50%;
    margin: 7.75% auto;
  }
  body footer {
    width: 80%;
    float: right;
    right: 0px;
    bottom: 1%;
    position: absolute;
    margin-bottom: 2%;
    text-align: center;
  }
}
/*estilo horizontal 1024px> and <1440px*/
@media only screen and (min-width: 64.063em) and (max-width: 90em) and (orientation: landscape) {
  body header .titulo {
    float: right;
    width: 85%;
    margin-top: 2%;
    height: 7vh;
    text-align: center;
  }
  body header .titulo img {
    height: 100%;
  }
  body header .titulo p {
    font-size: 4vh;
    position: relative;
    vertical-align: 40%;
    margin-left: 0.5%;
  }
  body header nav {
    position: fixed;
    height: 100%;
    width: 15%;
    overflow-y: auto;
  }
  body header nav .cabecera {
    position: relative;
    margin-top: 15%;
    margin-bottom: 5%;
  }
  body header nav .cabecera img {
    float: left;
    width: 5.5vw;
  }
  body header nav .cabecera .fabrica {
    font-size: 2.5vw;
  }
  body header nav .cabecera .de,
  body header nav .cabecera .medios {
    margin: 0;
    display: inline;
  }
  body header nav .cabecera .de {
    font-size: 1.2vw;
  }
  body header nav .cabecera .medios {
    font-size: 1.7vw;
  }
  body header nav .cabecera .soluciones {
    font-size: 0.725vw;
  }
  body header nav .servicios,
  body header nav .trabajo,
  body header nav .clientes,
  body header nav .impresos {
    margin-left: 15%;
    margin-right: 25%;
    height: 13%;
    border-radius: 15px;
    box-shadow: -10px 10px #808080;
    margin-top: 15%;
    position: relative;
  }
  body header nav .servicios img,
  body header nav .trabajo img,
  body header nav .clientes img,
  body header nav .impresos img,
  body header nav .servicios h3,
  body header nav .trabajo h3,
  body header nav .clientes h3,
  body header nav .impresos h3,
  body header nav .servicios p,
  body header nav .trabajo p,
  body header nav .clientes p,
  body header nav .impresos p {
    position: absolute;
  }
  body header nav .servicios img,
  body header nav .trabajo img,
  body header nav .clientes img,
  body header nav .impresos img {
    width: 4.5vh;
  }
  body header nav .servicios h3,
  body header nav .trabajo h3,
  body header nav .clientes h3,
  body header nav .impresos h3 {
    font-size: 5vh;
  }
  body header nav .servicios p,
  body header nav .trabajo p,
  body header nav .clientes p,
  body header nav .impresos p {
    font-size: 1.5vh;
  }
  body header nav .flechaAzul:before,
  body header nav .flechaAzul:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  body header nav .flechaAzul:after {
    border-color: linear-gradient(to right top, #02649d 22%, #1f4079 57%);
    border-left-color: #1f4079;
    border-width: 1.3vw;
    margin-top: -2.5vh;
  }
  body header nav .flechaBlanca:before,
  body header nav .flechaBlanca:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  body header nav .flechaBlanca:after {
    border-color: linear-gradient(to right top, #02649d 22%, #1f4079 57%);
    border-left-color: #fff;
    border-width: 1.3vw;
    margin-top: -2.5vh;
  }
  body header nav .servicios img {
    float: right;
    right: 5%;
    bottom: 5%;
  }
  body header nav .servicios p,
  body header nav .servicios h3 {
    float: left;
    left: 5px;
  }
  body header nav .servicios p {
    top: 40%;
    width: 50%;
  }
  body header nav .servicios h3 {
    top: 1%;
  }
  body header nav .trabajo img {
    float: left;
    left: 5%;
    bottom: 5%;
  }
  body header nav .trabajo p,
  body header nav .trabajo h3 {
    float: right;
    right: 5%;
  }
  body header nav .trabajo p {
    top: 40%;
    width: 50%;
    text-align: right;
  }
  body header nav .trabajo h3 {
    top: 1%;
  }
  body header nav .clientes img {
    float: right;
    top: 5%;
    right: 5%;
  }
  body header nav .clientes p,
  body header nav .clientes h3 {
    float: left;
    left: 5%;
  }
  body header nav .clientes p {
    width: 50%;
    bottom: 5%;
    text-align: left;
  }
  body header nav .clientes h3 {
    bottom: 30%;
  }
  body header nav .impresos img {
    float: left;
    left: 5%;
    top: 5%;
  }
  body header nav .impresos h3,
  body header nav .impresos p {
    float: right;
    right: 5%;
  }
  body header nav .impresos p {
    text-align: right;
    bottom: 5%;
  }
  body header nav .impresos h3 {
    bottom: 15%;
  }
  body header nav .contactenos {
    width: 90%;
    height: 2vh;
    bottom: 3%;
    position: absolute;
    text-align: center;
  }
  body header nav .contactenos img {
    height: 2vh;
  }
  body header nav .contactenos p {
    position: relative;
    vertical-align: 40%;
    font-size: 1.3vh;
  }
  body footer {
    width: 80%;
    float: right;
    right: 0px;
    bottom: 1%;
    margin-bottom: 2%;
    text-align: center;
    position: absolute;
    font-size: 1.5vh;
  }
}
/*estilo vertical >1440px and <1920px*/
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  body header .titulo {
    float: right;
    width: 85%;
    margin-top: 2%;
    height: 6vh;
    text-align: center;
  }
  body header .titulo img {
    height: 100%;
  }
  body header .titulo p {
    font-size: 3.25vh;
    position: relative;
    vertical-align: 40%;
    margin-left: 1%;
  }
  body header nav {
    position: fixed;
    height: 100%;
    width: 12.5%;
    overflow-y: auto;
  }
  body header nav .cabecera {
    position: relative;
    margin: 15% auto;
    margin-bottom: 20%;
  }
  body header nav .cabecera img {
    float: left;
    width: 8vh;
  }
  body header nav .cabecera .fabrica {
    font-size: 3.175vh;
  }
  body header nav .cabecera .de,
  body header nav .cabecera .medios {
    margin: 0;
    display: inline;
  }
  body header nav .cabecera .de {
    font-size: 1.5vh;
  }
  body header nav .cabecera .medios {
    font-size: 2vh;
  }
  body header nav .cabecera .soluciones {
    font-size: 0.875vh;
  }
  body header nav .servicios,
  body header nav .trabajo,
  body header nav .clientes,
  body header nav .impresos {
    margin-left: 15%;
    margin-right: 25%;
    height: 15%;
    border-radius: 15px;
    box-shadow: -10px 10px #808080;
    margin-top: 12%;
    position: relative;
  }
  body header nav .servicios img,
  body header nav .trabajo img,
  body header nav .clientes img,
  body header nav .impresos img,
  body header nav .servicios h3,
  body header nav .trabajo h3,
  body header nav .clientes h3,
  body header nav .impresos h3,
  body header nav .servicios p,
  body header nav .trabajo p,
  body header nav .clientes p,
  body header nav .impresos p {
    position: absolute;
  }
  body header nav .servicios img,
  body header nav .trabajo img,
  body header nav .clientes img,
  body header nav .impresos img {
    width: 4vh;
  }
  body header nav .servicios h3,
  body header nav .trabajo h3,
  body header nav .clientes h3,
  body header nav .impresos h3 {
    font-size: 5vh;
  }
  body header nav .servicios p,
  body header nav .trabajo p,
  body header nav .clientes p,
  body header nav .impresos p {
    font-size: 1.5vh;
  }
  body header nav .flechaAzul:before,
  body header nav .flechaAzul:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  body header nav .flechaAzul:after {
    border-color: linear-gradient(to right top, #02649d 22%, #1f4079 57%);
    border-left-color: #1f4079;
    border-width: 1.3vw;
    margin-top: -2vh;
  }
  body header nav .flechaBlanca:before,
  body header nav .flechaBlanca:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  body header nav .flechaBlanca:after {
    border-color: linear-gradient(to right top, #02649d 22%, #1f4079 57%);
    border-left-color: #fff;
    border-width: 1.3vw;
    margin-top: -2vh;
  }
  body header nav .servicios img {
    float: right;
    right: 5%;
    bottom: 5%;
  }
  body header nav .servicios p,
  body header nav .servicios h3 {
    float: left;
    left: 5%;
  }
  body header nav .servicios p {
    top: 40%;
    width: 50%;
  }
  body header nav .servicios h3 {
    top: 5%;
  }
  body header nav .trabajo img {
    float: left;
    left: 5%;
    bottom: 5%;
  }
  body header nav .trabajo p,
  body header nav .trabajo h3 {
    float: right;
    right: 5%;
  }
  body header nav .trabajo p {
    top: 40%;
    width: 50%;
    text-align: right;
  }
  body header nav .trabajo h3 {
    top: 5%;
  }
  body header nav .clientes img {
    float: right;
    top: 5%;
    right: 5%;
  }
  body header nav .clientes p,
  body header nav .clientes h3 {
    float: left;
    left: 5%;
  }
  body header nav .clientes p {
    width: 50%;
    bottom: 5%;
    text-align: left;
  }
  body header nav .clientes h3 {
    bottom: 30%;
  }
  body header nav .impresos img {
    float: left;
    left: 5%;
    top: 5%;
  }
  body header nav .impresos h3,
  body header nav .impresos p {
    float: right;
    right: 5%;
  }
  body header nav .impresos p {
    text-align: right;
    bottom: 5%;
  }
  body header nav .impresos h3 {
    bottom: 15%;
  }
  body header nav .contactenos {
    position: absolute;
    width: 90%;
    height: 3vh;
    bottom: 2%;
    text-align: center;
  }
  body header nav .contactenos img {
    height: 3vh;
  }
  body header nav .contactenos p {
    position: relative;
    vertical-align: 50%;
    font-size: 1.3vh;
  }
  body section {
    width: 85%;
    position: relative;
    float: right;
    margin-top: 5%;
  }
  body section div {
    margin: 1% 1%;
    width: 22%;
    height: 5vw;
    text-align: center;
    display: inline-block;
  }
  body section div img {
    height: 80%;
    margin: 3% auto;
  }
  body section .quideca img {
    width: 80%;
    height: 50%;
    margin: 7% auto;
  }
  body footer {
    width: 85%;
    float: right;
    right: 0px;
    bottom: 0;
    position: absolute;
    margin-bottom: 1%;
    text-align: center;
  }
  body footer p {
    font-size: 1.3vh;
  }
}
